<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <link href="~/Content/Styles/flipclock.css" rel="stylesheet" />
    
    <link rel="icon" href="http://www.wlbenefitsgroup.com/wp-content/uploads/2014/07/favicon-01.png" type="image/png">
    <title>WL Benefits Group</title>
    @Html.Partial("_CssClasses")
    @RenderSection("css", required: false)
</head>
<body>
    <div class="theme-background p-3 px-md-4 mb-3 border-bottom box-shadow">
        <div class="container d-flex flex-column align-items-center flex-md-row">
            <h5 class="my-0  font-weight-normal">
                <a href="/Dashboard" class="navbar-brand text-light">WL Benefits Group</a>
            </h5>
            <nav class="mx-md-5 my-md-0  justify-content-center mr-md-auto">
                <a class="p-2 text-light" href="/Enroll">Enroll Now</a>
                <a class="p-2 text-light" href="/Dependents">Dependents</a>
                <a class="p-2 text-light" href="/Beneficiaries">Beneficiaries</a>
                <a class="p-2 text-light" href="/QualifyingEvents">Qualifying Events</a>
            </nav>
            <div class="notification-wrapper">
                <a href="#" id="Notifications">
                    <span class="badge badge-pill badge-primary notification-badge">3</span>
                    <i class="fa fa-bell-o fa-1x mx-2 gray-label" style="color: white;" aria-hidden="true"></i>
                </a>
                <div class="notification card box-shadow hide">
                    <div>
                        <div class="message">
                            <h6>You have a message</h6>
                            <small class="text-muted">HR just sent you an email, please check your inbox</small>
                        </div>
                        <div class="message">
                            <h6>You have a message</h6>
                            <small class="text-muted">HR just sent you an email, please check your inbox</small>
                        </div>
                        <div class="message">
                            <h6>You have a message</h6>
                            <small class="text-muted">HR just sent you an email, please check your inbox</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="dropdown">
                <a class="pull-right" style="cursor: pointer" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-cog fa-1x mx-2 gray-label" style="color: white;" aria-hidden="true"></i>
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/Benefits">Benefits</a>
                    <a id="Logout" class="dropdown-item" href="#">Logout</a>
                </div>
            </div>
            <a class="mx-2 text-light" style="display: inline-block" href="/Benefits" style="text-decoration: none; " >
                <img class="rounded-circle" style="height:36px;" src="~/Content/Images/photo.jpg" />
                Welcome, Phil!
            </a>
        </div>
    </div>
    <div class=" padding-bottom-200" style="">
        @RenderBody()
    </div>
    <footer class="pt-4 theme-background text-light mt-5" >
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <p>
                        BenefitsTalk &trade; powered by WL Benefits Group
                    </p>
                   
                </div>
                <div class="col-6 text-right">
                    <p>
                        <a class="plain-link" target="_blank" href="http://www.wlbenefitsgroup.com/"> www.WLBenefitsGroup.com</a> <br />
                        2345 Waukegan Rd, STE #140 <br />
                        Bannockburn, Illinois, 60015 <br />
                    </p>
                </div>
                <div class="col-6">
                    <p>
                        &copy; 2018 WL Benefits Group, Inc. All Rights Reserved
                    </p>
                </div>
                <div class="col-6 text-right">
                    <i class="fa fa-facebook-official mx-2" style="color:white; font-size: 30px;" aria-hidden="true"></i>
                    <i class="fa fa-linkedin-square" style="color:white; font-size: 30px;" aria-hidden="true"></i>
                    </div>
            </div>
        </div>
    </footer>

    <div id="LogoutConfirm" class="hide">
        <div class="logout-backdrop"></div>
        <div class="logout py-5">
            <div class="container">
                <div class="row">
                    <div class="col offset-2">
                        <h3 style="color: white"> <i class="fa fa-sign-out"> </i> Logout Phil?</h3>
                        <p style="color: white">You can improve your security further after logging out by closing this opened browser</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-10 text-right">
                        <a href="/Login" class="btn btn-outline-default">Yes</a>
                        <a href="#" id="CancelLogout" class="btn btn-outline-default">No</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="notification-backdrop hide">
    </div>
    <style>
        .theme-background {
            background: #00c6ff; /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #0072ff, #00c6ff); /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #0072ff, #00c6ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        }

        .fa-theme {
            color: #0073FF; /* fallback for old browsers */
          
        }

        .btn-primary , .btn-primary:hover {
             background: #00c6ff; /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #0072ff, #00c6ff); /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #0072ff, #00c6ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            border:none;
            color:white;
        }

        .btn-primary{
            box-shadow: 2px 2px 5px 1px rgba(00,00,00,0.2);
        }

        .btn-primary:hover{
            box-shadow: none;
        }

        a:hover{
            text-decoration: none;
        }

        body{
            background: white !important;
        }

        .padding-bottom-200{
            padding-bottom: 200px;
        }

        
        .box-style{
            padding:20px;
            border: 1px solid #f1f1f1;
            height: 100%;
            transition: ease-in  0.3s;
        }
        .box-style:hover{
            border: 1px solid #bdbdbd;
        }

        .card100{
            height:100%;
        }

    </style>

    @Html.Partial("_Javascripts")
    @RenderSection("js", required: false)
    <script>



			var clock;

			$(document).ready(function() {

				// Grab the current date
				var currentDate = new Date();

				// Set some date in the future. In this case, it's always Jan 1
				var futureDate  = new Date(currentDate.getFullYear() + 1, 0, 1);

				// Calculate the difference in seconds between the future and current date
				var diff = futureDate.getTime() / 1000 - currentDate.getTime() / 1000;

				// Instantiate a coutdown FlipClock
				clock = $('.clock').FlipClock(diff, {
					clockFace: 'DailyCounter',
					countdown: true
				});
			});
    

        $(function () {
            $('#Logout').on('click', () => {
                $('body').toggleClass("modal-open", true);
                $('#LogoutConfirm').toggleClass("hide", false);
            });
            $('#CancelLogout').on('click', () => {
                $('body').toggleClass("modal-open", false);
                $('#LogoutConfirm').toggleClass("hide", true);
            });
            $('.notification-backdrop').on('click', () => {
                $('.notification').toggleClass("hide", true);
                $('.notification-backdrop').toggleClass("hide", true);
            });
            $('#Notifications').on('click', () => {
                $('.notification').toggleClass("hide", false);
                $('.notification-backdrop').toggleClass("hide", false);
            });
        });
    </script>
</body>
</html>